### Добавляем файл с 4 стольбцами и  делаем анализ, для примера введены случайные столбцы.

In [2]:
import numpy as np
import pandas as pd
import pathlib
from pathlib import Path
import openpyxl
from openpyxl import load_workbook
import xlrd, xlwt
import seaborn as sns

In [28]:
#Название вкладок в экселе
file_for_cleaning = input ('Ведите название файла для чистки: ')
path = Path(pathlib.Path.home(), "Desktop", file_for_cleaning+".xlsx")
wookbook = openpyxl.load_workbook(path)
print (wookbook.sheetnames)

Ведите название файла для чистки: Тестовое задание Excel
['Задание_полное', 'Задание сокращ', 'Выгрузка']

In [29]:
#чтение эксель файла
teapot = pd.read_excel(path, sheet_name= 'Выгрузка')
df = pd.DataFrame(teapot)
df.head()

,Отрасль,Название клиента,Регион,Филиал,Месяц,Год,Выручка,Отправки,Платный вес
0,Интернет-магазины,Клиент 57,Москва регион,Москва,Январь,2017,802550.49,903,27469.0
1,Интернет-магазины,Клиент 57,Москва регион,Москва,Февраль,2017,829457.53,857,27191.8
2,Интернет-магазины,Клиент 57,Москва регион,Москва,Март,2017,1191803.44,1093,38728.3
3,Интернет-магазины,Клиент 57,Москва регион,Москва,Апрель,2017,1159131.79,1100,36164.3
4,Интернет-магазины,Клиент 57,Москва регион,Москва,Май,2017,1213771.51,1176,42017.0

In [30]:
#Вводим название столбца
revenue = 'Выручка'
sales = 'Отправки'
Margin = 'Платный вес'

In [31]:
df['Доля Выручки'] = df[revenue]/df[revenue].sum()
df = df.sort_values('Доля Выручки', ascending=False)
df['Аккум.доля Выручки'] = df['Доля Выручки'].cumsum()
df["Категория Выручки"] = ' '
df.loc[df['Аккум.доля Выручки'] <= 0.8, 'Категория Выручки' ] = 'A'
df.loc[(df['Аккум.доля Выручки'] > 0.8) & (df['Аккум.доля Выручки'] < 0.95), 'Категория Выручки' ] = 'B'
df.loc[df['Аккум.доля Выручки'] >= 0.95, 'Категория Выручки' ] = 'C'

df['Доля Продажи'] = df[sales]/df[sales].sum()
df = df.sort_values('Доля Продажи', ascending=False)
df['Аккум.доля Продажи'] = df['Доля Продажи'].cumsum()
df["Категория Продажи"] = ' '

df.loc[df['Аккум.доля Продажи'] <= 0.8, 'Категория Продажи' ] = 'A'
df.loc[(df['Аккум.доля Продажи'] > 0.8) & (df['Аккум.доля Продажи'] < 0.95), 'Категория Продажи' ] = 'B'
df.loc[df['Аккум.доля Продажи'] >= 0.95, 'Категория Продажи' ] = 'C'

df['Доля Маржа3'] = df[Margin]/df[Margin].sum()
df = df.sort_values('Доля Маржа3', ascending=False)
df['Аккум.доля Маржа3'] = df['Доля Маржа3'].cumsum()
df["Категория Маржа3"] = ' '

df.loc[df['Аккум.доля Маржа3'] <= 0.8, 'Категория Маржа3' ] = 'A'
df.loc[(df['Аккум.доля Маржа3'] > 0.8) & (df['Аккум.доля Маржа3'] < 0.95), 'Категория Маржа3' ] = 'B'
df.loc[df['Аккум.доля Маржа3'] >= 0.95, 'Категория Маржа3' ] = 'C'

df['Категори']=df['Категория Выручки']+df['Категория Продажи']+df['Категория Маржа3']
df = df.sort_values('Категори')

df = df[['Название клиента', 'Выручка', 'Отправки', 'Платный вес', 'Категория Выручки', 'Категория Продажи',
       'Категория Маржа3', 'Категори']]
df[:5]

,Название клиента,Выручка,Отправки,Платный вес,Категория Выручки,Категория Продажи,Категория Маржа3,Категори
9044,Клиент 43,4416073.72,6341,253321.2,A,A,A,AAA
7511,Клиент 846,515919.46,935,8930.2,A,A,A,AAA
10828,Клиент 270,339515.34,1182,8907.3,A,A,A,AAA
8218,Клиент 868,590243.88,1666,8886.6,A,A,A,AAA
4167,Клиент 159,496951.49,1920,8863.0,A,A,A,AAA

In [32]:
#Создание файла Эксель со вкладкой
file_zapiz = input ('Ведите название файла для записи: ')
df.to_excel(file_zapiz +'  ABC вывод.xlsx', sheet_name='ABC', index=False)

Ведите название файла для записи: res