In [1]:
a = 3
b = 5
print(a+b)

8

In [2]:
c = 2
test = (a+b)*c
print(test)

16

In [4]:
def tes (a, b):
    return a+b

In [5]:
tes(3, 4)

7

In [31]:
pwd

'/Users/alekseibo'

In [34]:
ls

$RECYCLE.BIN/
Thumbs.db
desktop.ini
museum.csv
~$17-30.04 Еженедельный отчет.xlsx
~$28.04.23 еженедельный отчет и БД Вб.xlsx
~$План работ 30 05 2023.xlsx
МПskript/
Тестовое задание Excel.xlsx
Тестовое задание_sql.xlsx
Автоматизация_рутинных_задач_с_помощью_Python_2_изд_.pdf

In [33]:
cd Desktop

/Users/alekseibo/Desktop

In [24]:
import pandas as pd

In [36]:
df = pd.read_csv('museum.csv', sep=',')
df[:5]

   id  AvilaAdobe  Firehouse Museum  ChineseAmerican  AmericaTropical  year
0   1       24778              4486             1581             6602  2014
1   2       18976              4172             1785             5029  2014
2   3       25231              7082             3229             8129  2014
3   4       26989              6756             2129             2824  2014
4   5       36883             10858             3676            10694  2014

In [11]:
!git add test_2.ipynb

In [12]:
!git commit -m 'Добавление данных через jupyter'

[main 3e0308e] Добавление данных через jupyter
 1 file changed, 72 insertions(+)

In [13]:
!git push

Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 8 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 1015 bytes | 1015.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To github.com:totbari/test.git
   285f7c9..3e0308e  main -> main

In [10]:
ls -a

./                  .git/               test_2.ipynb
../                 .ipynb_checkpoints/