In [1]:
a = 3
b = 5
print(a+b)

8

In [2]:
c = 2
test = (a+b)*c
print(test)

16

In [4]:
def tes (a, b):
    return a+b

In [5]:
tes(3, 4)

7

In [24]:
import pandas as pd

In [54]:
text = pd.read_excel('Тестовое задание Excel.xlsx', sheet_name= 'Выгрузка')
df = pd.DataFrame(text)
df[:5]

,Отрасль,Название клиента,Регион,Филиал,Месяц,Год,Выручка,Отправки,Платный вес
0,Интернет-магазины,Клиент 57,Москва регион,Москва,Январь,2017,802550.49,903,27469.0
1,Интернет-магазины,Клиент 57,Москва регион,Москва,Февраль,2017,829457.53,857,27191.8
2,Интернет-магазины,Клиент 57,Москва регион,Москва,Март,2017,1191803.44,1093,38728.3
3,Интернет-магазины,Клиент 57,Москва регион,Москва,Апрель,2017,1159131.79,1100,36164.3
4,Интернет-магазины,Клиент 57,Москва регион,Москва,Май,2017,1213771.51,1176,42017.0

In [61]:
cd Users/alekseibo/test

/Users/alekseibo/test

In [55]:
!git add test_2.ipynb

fatal: not a git repository (or any of the parent directories): .git

In [43]:
!git commit -m 'открыли выгрузку csv'

[main c401a9f] открыли выгрузку csv
 1 file changed, 235 insertions(+), 15 deletions(-)

In [44]:
!git push

Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 8 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 2.15 KiB | 2.15 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To github.com:totbari/test.git
   3e0308e..c401a9f  main -> main